<h3>
    <%= @category.name %>'s memo
</h3>

<% @memos.each do |memo| %>
<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                <%= memo.title %>
            </h4>
            <%= memo.category.name %>
            <div class="buttons">
                <%= link_to("削除","/memos/#{memo.id}",{method: "delete"}) %>
                <%= link_to("編集","/memos/#{memo.id}/edit",{method: "get"}) %>
            </div>
        </div>
        <div class="panel-body">
            <%= memo.body %>
        </div>
    </div>
</div>
<% end %>